<div id="wrapper">
    <div class="title">
        <h1 class="aboutme">About</h1><br>
        <h1 class="aboutme">Me</h1>
    </div>
    <div class="name">
        <h2 class="selfinfo">Hello</h2>
        <h2 class="selfinfo">I'm Ben HUI</h2>
    </div>
    
    <div class="personalimage">
        <img class="image" src="../../assets/benhui.png">
    </div>
    
    <div class="intro">
        <ul>
            <li>
                <a href="https://www.facebook.com/home.php" target="_blank">
                <img src="../../assets/about/facebook.png">
                    faceboook
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                    <img src="../../assets/about/instagram.png">instergram
                </a>
            </li>
            <li>
                <a href="https://github.com/BenHUI0369" target="_blank">
                    <img src="../../assets/about/github.png">github
                </a>
            </li>
            <li> 
                <a href="../../assets/BenHUI_Resume.pdf" target="_blank">
                    <img src="../../assets/about/resume.png">Resume
                </a>
            </li>
        </ul>
        <h2>SiuWai HUI</h2>
        <p>I am a software engineering student who is passionate about software development. I am always eager to learn new things and am constantly looking for ways to improve my skills. I'm also a hardworking individual who is dedicated to his craft and is always willing to go the extra mile to ensure that the work is of the highest quality. I am a strong foundation in programming languages such as Java, Python, and C#, and is always looking for ways to expand my knowledge in these areas. I am also an excellent communicator and work well in a team environment. </p>
    </div> 
</div>



