<div class="title">
    <h1>About Me</h1>
    <p class="selfinfo">I'm a software engineering student based in Toronto, Canada</p>
</div>

<div class="aboutme">
    <div class="personalimage">
        <img class="image" src="../../assets/benhui.jpg">
    </div>
    <div class="intro">
        <h2>SiuWai HUI</h2>
        <p>I am a software engineering student who is passionate about software development. I am always eager to learn new things and am constantly looking for ways to improve my skills. I'm also a hardworking individual who is dedicated to his craft and is always willing to go the extra mile to ensure that the work is of the highest quality. I am a strong foundation in programming languages such as Java, Python, and C#, and is always looking for ways to expand my knowledge in these areas. I am also an excellent communicator and work well in a team environment. </p>
    </div> 
</div>

<div class="resume">
    <span>My Resume: </span>
    <a href="../../assets/BenHUI_Resume.pdf" target="_blank">Click Here!</a>
</div>


