<h1 id="sertitle"><span class="orange">Ser</span>vice</h1>
<div id="service">
    <div id="list1">
        <div id="ser1" class="serset"><img src="../../assets/service/app-development.png"><br>
            <span>Software development</span>
        </div>
        <div id="ser2" class="serset">
            <img src="../../assets/service/backend.png"><br>
            <span>Backend web development</span>
        </div>
        <div id="ser3" class="serset">
            <img src="../../assets/service/frontend.png"><br>
            <span>Front web development</span>
        </div>
    </div>
    <div id="list2">

        <div id="ser4" class="serset">
            <img src="../../assets/service/game-development.png"><br>
            <span>Game development</span>
        </div>
        <div id="ser5" class="serset">
            <img src="../../assets/service/mobile-app.png"><br>
            <span>Mobile-App development</span>
        </div>
        <div id="ser6" class="serset">
            <img src="../../assets/service/uiux.png"><br>
            <span>UI/UX design</span>
        </div>
    </div>
</div>

<h1 id="skilltitle"><span class="orange">Skill</span> Sets</h1>
<div id="tools">
   <img src="../../assets/service/skillset/c-sharp.png">
   <img src="../../assets/service/skillset/java.png">
   <img src="../../assets/service/skillset/js.png"><br>
   <img src="../../assets/service/skillset/linux.png">
   <img src="../../assets/service/skillset/nodejs.png">
   <img src="../../assets/service/skillset/python.png">
   <img src="../../assets/service/skillset/react.png">
   <img src="../../assets/service/skillset/sql-server.png">
</div>