<div id="contactform">
    <div id="left">
        <img src="../../assets/contact/contactme.png"><br>
        <img src="../../assets/contact/contactimage.png">
    </div>
    <div id="inputform">
        <form action="./home" method="get">
        <h1>Contact Form</h1>
            <input type="text" id="lastname" name="lastname" value="Last Name"><br>
            <input type="text" id="firstname" name="firstname" value="First Name"><br>
            <input type="email" id="mail" name="mail" value="E-Mail"><br>
            <label for="message">Message: </label><br>
            <textarea id="message" name="message" rows="4" cols="50"></textarea>
            <button type="submit" mat-raised-button color="primary" value="Submit">Submit</button>
        </form><br><br><br>
    </div>
</div>


  
  
  
  