.titleimg {
    text-align: center;
}

.titleimg img {
    width: 1000px;
}

.contectme {
    text-align: center;
}

.contectme h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 100px;
    color: #316755;
}

.contectme h2 {
    font-size: 30px;
    color: #2cb6c6;
} 


#left {
    text-align: right;
    width: 45%;
    position: relative;
    top: 100px;
}

#left img {
    width: 70%;
}

#inputform {
    width: 900px;
    margin: 0 auto;
}

input {
    width: 96%;
    margin-bottom: 20px;
    height: 30px;
    color: rgb(156, 156, 156);
}

#message {
    width: 96%;
    height: 100px;
}

.btn {
    text-align: center;
}

button {
    color: #2cb6c6;
}