<mat-toolbar color="primary">
  <span>Portfolio</span>
  <img class="logo" src="../assets/logo.png">
  <span class="example-spacer"></span>
  <div>
    <nav>
      
      <a mat-button routerLink="/home" routerLinkActive="active">
        <img class="icon" src="../assets/home.png">Home
      </a>
      <a mat-button routerLink="/project">
        <img class="icon" src="../assets/project.png">Project
      </a>
      <a mat-button routerLink="/about">
        <img class="icon" src="../assets/about.png">About
      </a>
      <a mat-button routerLink="/service">
        <img class="icon" src="../assets/service.png">Services
      </a>
      <a mat-button routerLink="/contact">
        <img class="icon" src="../assets/contact.png">Contact Me
      </a>
      <a mat-button routerLink="/login">
        Login
      </a>
    </nav>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
