.example-spacer {
    flex: 1 1 auto;
  }

.logo {
  height: 60px;
}

.icon {
  height: 21px;
  position: relative;
  top: 5px;
}
  

.mat-toolbar.mat-primary {
  background: #45646f;
  color: #fff;
}