
/*.pj {
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.pj h1 {
    font-weight: 500;
    text-shadow:  1px 1px 2px rgb(212, 192, 255);
}

.pj p {
    color: rgb(105, 105, 105);
}

.pj span {
    color: rgb(54, 54, 54);
    font-size: 15px;
}

.pj1, .pj2, .pj3 {
    width: 20%;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
}
img {
    margin-top: 20px;
    width: 100%;
}

.btn {
    text-align: center;

}

.projectimg {
    height: 300px;
}

.detail {
    display: none;
}
*/

.title {
    text-align: center;
}

.title h1 {
    font-size: 90px;
    font-weight: 600;
    position: relative;
    margin-top: 60px;
    margin-bottom: 60px;
}

.title h2 {
    font-size: 45px;
    margin-bottom: 60px;
    color: #8e9da8;
}

.orange {
    color: #ffcb00;
}

img {
    width: 450px;
    height: 450px;
}

.list1,.list2 {
    text-align: center;
    display: flex;
    justify-content: center;
}

.pj1, .pj2, .pj3, .pj4 {
    text-align: center;
    margin-right: 60px;
}

.btn span, .btn span {
    font-size: 21px;
    margin-right: 60px;
}

.btn {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 120px;
}

.detail {
    position: absolute;
    width: 450px;
    height: 450px;
    background-color: #000000;
    opacity: 0.8;
    display: none;
}

.detail p {
    color: #FFFFFF;
    font-size: 30px;
    line-height: 60px;
}
